<div class="row-fluid">
<div class="span6">
<%= render 'calendar' %>
</div>

<div class="span6">
<h2><%= @day.strftime("%B %d %Y (%A)") %></h2>

<table class="table">
  <tr>
    <th>Title</th>
    <th>Entry</th>
    <th>Mood</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @diary_entries.each do |diary_entry| %>
  <tr>
    <td><%= diary_entry.title %></td>
    <td><%= diary_entry.entry %></td>
    <td><%= diary_entry.mood %></td>
    <td><%= link_to 'Show', diary_entry, class: "btn btn-primary" %></td>
    <td><%= link_to 'Edit', edit_diary_entry_path(diary_entry) , class: "btn btn-success"%></td>
    <td><%= link_to 'Destroy', diary_entry, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Diary entry', new_diary_entry_path, class: "btn-primary btn-large" %>
</div>
</div>
